/* presentational */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #252128;
}


/* changes background color of header */
header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

footer {
  text-align: center;
}

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 2.2em;
}
p {
  text-transform: capitalize;
}

.ad_spot{
  /*position: relative;*/
  min-height: 10em;
  margin-top: 4em;
  margin-bottom: 2em;
}

.s_m_background {
  min-height: 600px;
  background-image: url('/images/smfight.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.9;
  position: fixed;
  margin-top: 7.2em;
}

.meet_the_fighter {
  background-color: #FE6148;
  margin-top: 1%;
}

#blurb {
  position: fixed;
  font-size: 130%;
  margin-top: 6.3em;
  width: 15em;
  border-radius: 10%;
  background-color: rgba(219, 193, 213, 0.2);
  text-shadow: 1px 0 #FFE0F8, 0 1px #FFE0F8, 1px 0 #FFE0F8, 0 1px #FFE0F8;
}

#blurb_content {
  text-shadow: 0 0 #FFE0F8, 0 0 #FFE0F8, 0 0 #FFE0F8, 0 0 #FFE0F8;
}

.social_brands {
  margin-top: .3em;
}

.social_brands > img {
  margin-left: .8em;
}

#main {
  margin-top: 600px;
  background-color: #252128;
  min-height: 1200px;
}

#brand-image {
  background-image: url('/images/sm_logo.png');
  background-size: cover;
  height: 3em;
  width: 3em;
  position: relative;
  top: -1em;
}

/* centers images in carousel */
.carousel-inner > .item > img {
  max-width: 60%;
  height: 500px;
  margin: auto;
}

#about_content > p {
  font-size: 1.5em;
  margin-top: 1em;
}

#content_not_found {
  height: 300px;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.cont_not_found_msg {
  font-size: 3.5em;
  position: center;
}