/* presentational */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #252128;
}


/* changes background color of header */
header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 2.2em;
}
p {
  text-transform: capitalize;
}

.ad_spot{
  /*position: relative;*/
  min-height: 10em;
  margin-top: 4em;
  margin-bottom: 2em;
}

.s_m_background {
  min-height: 650px;
  background-image: url('/images/smfight.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.3;
  position: fixed;
  margin-top: 7.2em;
}

.meet_the_fighter {
  background-color: #FE6148;
  margin-top: 1%;
}

#blurb {
  position: fixed;
  font-size: 130%;
  margin-top: 5.2em;
}

.social_brands {
  margin-top: .3em;
}

.social_brands > img {
  margin-left: .8em;
}

#main {
  margin-top: 600px;
  background-color: #252128;
  min-height: 1200px;
}

#brand-image {
  background-image: url('/images/sm.png');
  height: 100%;
  width: 20%;
}
