
/*
@TODO: move necessary styles to styles.css page and delete this file

*/

/* presentational */
body {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-color: black;
  background-color: #252128;
}
]
/* changes background color of header */
header {
  background-color: rgba(245, 255, 245, 0.1);
}

/* increases size of main header */
h1 {
  font-size: 32px;
}

/* styling for all nav links */
.nav_display {
  font-size: 16px;
  text-transform: uppercase;
}


/* removes bullets from lists */
.no_bullets {
  list-style: none;
}

/* for items temporarily hidden */
.hide: {
  visibility: hidden;
  color: red;
}




/* positioning */

/* nav bar */
nav {
  width: 100%;
  min-height: 250px;
}


/* 5 colums of even width */
.five-col {
  width: 18%;
  margin: 5px 5px auto;
  @media only screen and (max-width: 640px) {
    display: block;
    width: 100%;
  }
}
.nav_links {
  width: 60px;
  display: inline-block;
}